@keyframes pisca{
    0% { opacity: 0.2;}
    50% { opacity: 1;}
    100% { opacity:0.2;}
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urna{
    background-color:#dbd5c9;
    padding: 30px;
    display: flex;
}
/* Screen CSS */
.screen{
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.d-1{
    flex: 1;
    display: flex;
    padding: 10px;
}

.d1-Left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d1-Right{
    width: 90px;
}

.d1-1{
    height: 50px;
    display: flex;
    align-items:center;
}

.d1-2{
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.number{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

.d1-3{
    height: 50px;
    
}

.d1-4{
    flex: 1;
    line-height: 30px;
   
}

.d1-right{
    width: 50px;
    margin-top: -300px;
    
}

.d1-4-image{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    margin-left: 23rem;    
    
    
}

img{
    max-width: 100px;
    border: 1px solid black;
    background-color: white;
}

.d-2{
    height: 50px;
    font-size:15px;
    border-top: 2px solid black;
    padding-left: 10px;
}
/* Keyboard css */
.keyboard{
    background-color: #403a3a;
    margin-left: 30px;   

}

.keyboard-line{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.keyboard-button{
    width:70px;
    height:40px;
    background-color:black;
    font-size:25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor:pointer;
    box-shadow: 3px 3px 0px #999;
}

.btn-branco{
    background-color: white;
    color: black;
    font-size: 15px;
}

.btn-corrige{
    background-color: red;
    font-size: 15px;
}

.btn-confirma{
    background-color: green;
    font-size: 13px;
    width:90px;
    height: 50px;
}